In [1]:
import pandas as pd
import numpy as np

In [2]:
df_grain = pd.read_csv(r'/Users/andy.jensen/codeup-data-science/FeedGrains.csv')
df_grain

,SC_Group_ID,SC_Group_Desc,SC_GroupCommod_ID,SC_GroupCommod_Desc,SC_Geography_ID,SortOrder,SC_GeographyIndented_Desc,SC_Commodity_ID,SC_Commodity_Desc,SC_Attribute_ID,SC_Attribute_Desc,SC_Unit_ID,SC_Unit_Desc,Year_ID,SC_Frequency_ID,SC_Frequency_Desc,Timeperiod_ID,Timeperiod_Desc,Amount
0,1,Prices,17.0,Oats,1,0.8,United States,3,Oats,5,Prices received by farmers,4,Dollars per bushel,1989,2,Quarterly,121,MY 5YR Quarterly Moving Average for Mar-May,1.424775
1,1,Prices,17.0,Oats,1,0.8,United States,3,Oats,5,Prices received by farmers,4,Dollars per bushel,1989,2,Quarterly,122,MY 5YR Quarterly Moving Average for Jun-Aug,1.554613
2,1,Prices,17.0,Oats,1,0.8,United States,3,Oats,5,Prices received by farmers,4,Dollars per bushel,1990,1,Monthly,1,Jan,1.470000
3,1,Prices,17.0,Oats,1,0.8,United States,3,Oats,5,Prices received by farmers,4,Dollars per bushel,1990,1,Monthly,2,Feb,1.430000
4,1,Prices,17.0,Oats,1,0.8,United States,3,Oats,5,Prices received by farmers,4,Dollars per bushel,1990,1,Monthly,3,Mar,1.390000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487383,3,Exports and imports,9.0,Barley,205,179.0,Japan,77,Barley products,19,"Imports, to U.S. from specified source",7,"1,000 metric tons",2015,1,Monthly,5,May,0.000338
487384,3,Exports and imports,9.0,Barley,205,179.0,Japan,77,Barley products,19,"Imports, to U.S. from specified source",7,"1,000 metric tons",2016,1,Monthly,9,Sep,0.000677
487385,3,Exports and imports,9.0,Barley,205,179.0,Japan,77,Barley products,19,"Imports, to U.S. from specified source",7,"1,000 metric tons",2016,3,Annual,19,MY Jun-May,0.000677
487386,3,Exports and imports,9.0,Barley,205,179.0,Japan,77,Barley products,19,"Imports, to U.S. from specified source",7,"1,000 metric tons",2017,1,Monthly,6,Jun,0.001889
487387,3,Exports and imports,9.0,Barley,205,179.0,Japan,77,Barley products,19,"Imports, to U.S. from specified source",7,"1,000 metric tons",2017,3,Annual,19,MY Jun-May,0.001889

In [3]:
df_grain.dtypes

SC_Group_ID                    int64
SC_Group_Desc                 object
SC_GroupCommod_ID            float64
SC_GroupCommod_Desc           object
SC_Geography_ID                int64
SortOrder                    float64
SC_GeographyIndented_Desc     object
SC_Commodity_ID                int64
SC_Commodity_Desc             object
SC_Attribute_ID                int64
SC_Attribute_Desc             object
SC_Unit_ID                     int64
SC_Unit_Desc                  object
Year_ID                        int64
SC_Frequency_ID                int64
SC_Frequency_Desc             object
Timeperiod_ID                  int64
Timeperiod_Desc               object
Amount                       float64
dtype: object

In [4]:
df_grain.groupby('SC_Group_Desc').SC_GeographyIndented_Desc.unique()

SC_Group_Desc
Animal unit indexes                                      [United States]
Exports and imports    [World,   Latin America,       Central America...
Feed-price ratios                                        [United States]
Prices                 [United States, U.S. - Central IL, U.S. - Gulf...
Quantities fed                                           [United States]
Supply and use         [United States,   World less U.S.,         Mex...
Transportation                                           [United States]
Name: SC_GeographyIndented_Desc, dtype: object